.search-box { 
  padding: 40px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
}

#footer {
  overflow: hidden;
  padding: 40px 20px 48px;
  display: flex;
  align-items: center ;
}

#footer-img {
  display: flex;
  align-items: center ;
  justify-content: center;
}

#footer-img-small {
  display: none;
}

#footer-title{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  color: #57606a;
  margin-left: 15px;
  font-size: 12px;
}

#footer-a{
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  flex: auto;
  padding-inline-start: 40px
}

#footer-links{
  Text-Decoration: None !important;
  color: #0969da;
}

#footer-links:hover{
  Text-Decoration: underline !important;
}

#navbar {
  overflow: hidden;
  background-color: #24292f;
  padding: 12px 25px;
  display: flex;
  flex-direction: row;
  position: sticky;
}

#navbar-title{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
  color: white;
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-top: 7px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0969DA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p{
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.subtitle{
 color: #57606a;
 font-size: 14px;
 display : flex;
 line-height: 21px;
 font-weight: 350;
}

h2{
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

hr{
  border-color: rgba(216, 222, 228, 0.356);
}

.a-link {
  margin-left: 3px;
  margin-right: 3px;
}

/* INPUTS */

input{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

input[type=text], select {
  padding: 5px 12px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(208, 215, 222, 0.2) 1px;
  color: #24292f;
  background-color: white;
}

input[type=text]:focus {
  border: 2px solid #0969da ;
}

input[type=submit] {
  background-color: #2da44e;
  color: white;
  padding: 7px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

input:disabled {
  background: #94d3a2;
  cursor: default;
}

input[type=submit]:hover{
  background: #2c974b;
}
input:disabled:hover {
  background: #94d3a2;
}

/* BUTTONS */

button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  border-radius: 6px;
  padding: 7px 16px;
}

.button-box {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-profile {
  background-color: rgb(56, 125, 175);
  color: white;
  border: none;
}

.button-repo {
  background-color: #f6f8fa;
  color: #24292f;
  border:1px solid  #1b1f2426;
  margin: 3px;
  padding: 5px 16px;
}

.button-repo:disabled {
  background-color: #f6f8fa;
  color: #8c959f;
  border:1px solid  #1b1f2426;
  margin: 3px;
  padding: 5px 16px;
  cursor: default;
}

.button-repo:disabled:hover {
  background-color: #f6f8fa;
}

#repo-button-box {
  justify-content: flex-start;
  display: flex;
  margin-top: 10px;
}

.button-repo:hover{
  background: #d0d7de;
}

.button-profile:hover{
  background: rgb(18, 91, 143);
}

button:disabled {
  background: rgb(150, 174, 190);
  cursor: default;
}

button:disabled:hover {
  background: rgb(150, 174, 190);
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 33vw 33vw 33vw;
}

.grid-container-repo {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 48vw 48vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.grid-item-repo {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 8px 8px 16px;
  padding: 12px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#repo-tag {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;
}

#repo-title {
  margin-bottom: 4px;
  color:#0969DA;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.tag{
  display: flex;
  border-radius: 2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin: 3px;
  background-color: #DDF4FF;
  color: #0969DA;
  font-weight: 500;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 99vw;
  }
  .grid-container-repo {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 99vw;
  }

  #footer {
    display: block;
    overflow: hidden;
    padding: 40px 16px 48px;
    align-items: center ;
  }

  #footer-img {
    display: none;
  }
  #footer-img-small {
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-top: 10px;
  }

  input[type=submit], select {
    display: flex;
    margin: auto;
  }
}