@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --primary-color: #24292f;
  --sub-color: #57606a;
  --link-color: #0969da;
  --text-color: #24292f;
  --body-color: white;
  --border-color: #d0d7de;
  --tag-backgroud: #DDF4FF;
  --tag-color: #58a6ff;
  --button-background: #f6f8fa;
  --button-background-hover: #f3f4f6;
  --button-border-hover: rgba(27,31,36,0.15);
  --repo-button-disabled-color: #8c959f;
  --repo-button-border-disabled-color: #1b1f2426;
  --search-hover-color: #2c974b;
  --search-border: #0969da;
}

[data-theme="dark"] {
  --primary-color: #161b22;
  --sub-color: #8b949e;
  --link-color: #0969da;
  --text-color: #c9d1d9;
  --body-color: #0d1117;
  --border-color: #30363d;
  --tag-backgroud: rgba(56,139,253,0.15);
  --tag-color: #58a6ff;
  --button-background: #21262d;
  --button-background-hover: #30363d;
  --button-border-hover: #8b949e;
  --repo-button-disabled-color: #484f58;
  --repo-button-border-disabled-color: rgb(49 75 101 / 10%);
  --search-hover-color: #2ea043;
  --search-border: #79c0ff;
}

.text-color {
  color: var(--text-color);
}

.sub-color {
  color: var(--sub-color);
}

#container {
  min-height: 100vh;
  position: relative;
  background-color: var(--body-color);
}
 
#body-padding {
  padding-bottom:220px;
}

.search-box { 
  padding: 40px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
}

.padding10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding5 {
  padding-right: 5px;
}

.user-img {
  border-radius: 50%;
  width: 275px;
  border: 1px solid var(--border-color);
  display: flex;
  margin: auto;
}

#username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: var(--sub-color);
  margin-bottom: 16px;
}

.center-f {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-weight: 600;
  color: var(--text-color);
  margin-right: 4px;
  margin-left: 4px;
  font-size: 14px;
}

.user-info {
  color: var(--text-color);
  font-size: 14px;
  margin-top: .3em;
}

#footer-menu {
  overflow: hidden;
  padding: 40px 20px 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
}

#footer-img {
  display: flex;
  align-items: center ;
  justify-content: center;
}

#footer-img-small {
  display: none;
}

#footer-title{
  font-family: 'Open Sans', sans-serif;
  color: var(--sub-color);
  margin-left: 15px;
  font-size: 12px;
}

#footer-a{
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  flex: auto;
  padding-inline-start: 40px
}

#footer-links{
  Text-Decoration: None !important;
  color: var(--link-color);
}

#footer-links:hover{
  Text-Decoration: underline !important;
}

#navbar {
  overflow: hidden;
  background-color: var(--primary-color);
  padding: 12px 25px;
  display: flex;
  flex-direction: row;
  position: sticky;
}

#navbar-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-top: 7px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p{
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.subtitle{
 color: var(--sub-color);
 font-size: 14px;
 display : flex;
 line-height: 21px;
 font-weight: 350;
 flex-wrap: wrap;
}

h2{
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

hr{
  border-color: rgba(216, 222, 228, 0.356);
}

.a-link {
  margin-left: 3px;
  margin-right: 3px;
}

/* INPUTS */

input{
  font-family: 'Open Sans', sans-serif;
}

input[type=text], select {
  padding: 5px 12px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(208, 215, 222, 0.2) 1px;
  color: var(--text-color);
  background-color: var(--body-color);
}

input[type=text]:focus {
  border: 2px solid var(--search-border);
}

input[type=submit] {
  background-color: #2da44e;
  color: white;
  padding: 7px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

input:disabled {
  background: #94d3a2;
  cursor: default;
}

input[type=submit]:hover{
  background: var(--search-hover-color);
}

input:disabled:hover {
  background: #94d3a2;
}

/* BUTTONS */

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  border-radius: 6px;
  padding: 7px 16px;
}

.button-box {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button-profile {
  background-color: rgb(56, 125, 175);
  color: white;
  border: none;
}

.button-repo {
  background-color: var(--button-background);
  color: var(--text-color);
  border:1px solid  #1b1f2426;
  margin: 3px;
  padding: 5px 16px;
}

.button-repo:disabled {
  background-color: var(--button-background);
  color: var(--repo-button-disabled-color);
  border:1px solid  var(--repo-button-border-disabled-color);
  margin: 3px;
  padding: 5px 16px;
  cursor: default;
}

.button-repo:disabled:hover {
  background-color: var(--button-background);
  color: var(--repo-button-disabled-color);
  border:1px solid  var(--repo-button-border-disabled-color);
}

#repo-button-box {
  justify-content: flex-start;
  display: flex;
  margin-top: 10px;
}

.button-repo:hover{
  border-color: var(--button-border-hover);
  background: var(--button-background-hover);
}

.button-profile:hover{
  background: rgb(18, 91, 143);
}

button:disabled {
  background: rgb(150, 174, 190);
  cursor: default;
}

button:disabled:hover {
  background: rgb(150, 174, 190);
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 33vw 33vw 33vw;
}

.grid-container-repo {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 48vw 48vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.grid-item-repo {
  margin: 8px 8px 16px;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#repo-tag {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;
}

#repo-title {
  margin-bottom: 4px;
  color: var(--link-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.tag {
  display: flex;
  border-radius: 2em;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin: 3px;
  background-color: var(--tag-backgroud);
  color: var(--tag-color);
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 99vw;
  }
  .grid-container-repo {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 90vw;
  }

  #footer {
    display: block;
    align-items: center ;
  }

  #footer-img {
    display: none;
  }
  #footer-img-small {
    display: flex;
    align-items: center ;
    margin: auto;
  }

  input[type=submit], select {
    display: flex;
    margin: auto;
  }
  
  #footer-a {
    padding-inline-start: 0px;
    flex-wrap: wrap;
  }

  #body-padding {
    padding-bottom:250px;
  }
}