.search-box { 
  padding: 50px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
}

.button-box {
  margin: auto;
  display: flex;
  justify-content: center;
}

input{
  margin: auto;
  display: flex;
  justify-content: center;
}

#navbar {
  overflow: hidden;
  background-color: #24292f;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  position: sticky;
}

#navbar-title{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
  color: white;
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-top: 7px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0969DA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p{
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
}

.subtitle{
 color: #57606a;
 font-size: 12px;
 display : flex;
}

h2{
  margin: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

input[type=text], select {
  padding: 5px 12px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(208, 215, 222, 0.2) 1px;
  color: #24292f;
  background-color: white;
}
input[type=text]:focus {
  border: 2px solid #0969da ;
}

input[type=submit] {
  background-color: #2da44e;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius:12px;
  cursor: pointer;
  font-size: 14px;
}

input:disabled {
  background: rgb(123,143,124);
}

.button-profile {
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(56, 125, 175);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  
}

a {
  text-decoration: none;
}

.button-repo {
  border-radius: 5px;
  background-color: rgb(195, 211, 223);
  color: gray;
  margin: 3px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.button-profile:hover{
  background: rgb(18, 91, 143);
}

button:disabled {
  background: rgb(99,113,123);
}

button:disabled:hover {
  background: rgb(99,113,123);
}

input[type=submit]:hover{
  background: #2c974b;
}
input:disabled:hover {
  background: rgb(123,143,124);
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 33vw 33vw 33vw;
}

.grid-container-repo {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 48vw 48vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.grid-item-repo {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 8px 8px 16px;
  padding: 12px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.tag{
  display: flex;
  border-radius: 2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: -1px;
  padding-bottom: 2px;
  margin: 3px;
  display: inline-block;
  background-color: #DDF4FF;
  color: #0969DA;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 99vw;
  }
  .grid-container-repo {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 99vw;
  }
}